
{% extends "users/layout.html" %} {% load static %} {% block cssfiles %} {%endblock cssfiles %} {% block searchform %}
<form
  class="form-inline my-2 my-lg-0 ml-5"
  action="{% url 'search_users' %}"
  method="get"
>
  <input name="q" type="text" placeholder="Search users.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form>
{% endblock searchform %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% if my_stops %}
      {% for stop_object in my_stops %}
      <div class="card card-signin my-5">
        <div class="card-body">
            <h4> <a href="{{ stop_object.caravan.get_absolute_url }}">{{ stop_object.caravan }}</a></h4>
            <br>
            <a class="text-dark">
                <b>at {{ stop_object.destination }}</b><br>
                <a>from {{ stop_object.start_date }} to {{ stop_object.end_date }}</a><br>
                <a>with {{ stop_object.attendees.count }} attendees</a>
            </a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>
        <i>You have no stops on your schedule now!</i>
      </h5>
      {% endif %}
    </div>
    <div class="col-md-4">
      <div class="card card-signin my-5">
        <a href="{{ request.user.profile.get_absolute_url }}"
          ><img
            class="card-img-top"
            src="{{ request.user.profile.image.url }}"
            alt=""
        /></a>
        <div class="card-body">
          <h5 class="card-title text-center">{{ request.user }}</h5>
          <h6 class="text-center">
            {{ my_stops.count }}
            <p class="text-muted">Stops</p>
          </h6>
          <p class="card-text text-center">{{ request.user.profile.bio }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %} {% block jsfiles %}{% endblock jsfiles %}
</div>