
{% extends "users/layout.html" %} {% load static %} {% block cssfiles %} {%endblock cssfiles %} {% block searchform %}
<form
  class="form-inline my-2 my-lg-0 ml-5"
  action="{% url 'search_users' %}"
  method="get"
>
  <input name="q" type="text" placeholder="Search users.." />
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">
    Search
  </button>
</form>
{% endblock searchform %} {% block content %}

<div class="main-content">
  <div class="container mt-7">
    <div class="row">
      <div class="col-xl-8 m-auto order-xl-2 mb-5 mt-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <!-- image here -->
          </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <h2><a href="{{s.destination.link}}" target="_blank">{{ s.destination }}</a></h2><br>
              <h4>{{s.status|title}}</h4><br>
              <b> With <a href="{% url 'caravan' s.caravan.name %}"">{{ s.caravan }}</a> from {{ s.start_date }} - {{ s.end_date }} </b><br>
            </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center">
              <text>{{ s.description }}</text>
            </div>
            {% if s.status != 'decided' %}
            <div class="text-center">
              <hr class="my-2" />
              <h4>Forum</h4>
              <a>Interest Score: {{ sf.score }}</a><br>
              {% if is_interested %}
              <small>
                <a>You are interested in this stop.</a>
                <a
                  href="{% url 'stop_remove_vote' s.slug %}"
                  >I'm no longer interested.</a>
              </small>
              {% else %}
              <small>
                <a
                  class="btn btn-success"
                  href="{% url 'stop_vote_yes' s.slug %}"
                  >I'm interested</a>
              </small>
              {% endif %}
            </div>
            {% endif %}
            {% if s.status != 'proposal' %}
            <div class="text-center">
              <hr class="my-2" />
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-1">
                    <div>
                      <span class="heading">{{ s.attendees.count }}</span>
                      {% if s.attendees.count == 1 %}
                      <span class="description">attendee</span>
                      {% else %}
                      <span class="description">attendees</span>
                      {% endif %}
                    </div><br>
                  </div>
                </div>
              </div>
              {% if joined %}
              <small>
                <a
                  class="btn btn-danger"
                  href="{% url 'leave_stop' s.slug %}"
                  >Leave Stop</a>
              </small>
              {% elif caravan_member == True %}
              <small>
                <a
                  class="btn btn-success"
                  href="{% url 'join_stop' s.slug %}"
                  >Join Stop</a>
              </small>
              {% else %}
              <b> You're not currently a member of <a href="{% url 'caravan' s.caravan.name %}"">{{ s.caravan }}</a> </b><br>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block jsfiles %}{% endblock jsfiles %}